.checkout-area{
    padding: 100px 0;
}

.billing-info-wrap h3 {
    font-weight: 600;
    color: #000000;
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 16px;
}

.billing-info-wrap label {
    margin-bottom: 10px;
}

.billing-info-wrap .billing-info input , .billing-info-wrap textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    color: #474747;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 10px;
    width: 100%;
    outline: none;
    padding: 9px 15px;
}

.billing-info-wrap .billing-select select {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    color: #474747;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 10px;
    width: 100%;
    outline: none;
    height: 45px;
}

.billing-info-wrap .billing-info input.billing-address {
    margin-bottom: 10px;
}

.mb-30px {
    margin-bottom: 30px;
}

.billing-info-wrap .additional-info-wrap h4 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 10px;
}

.additional-info-wrap textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    color: #474747;
    font-size: 16px;
    height: 138px;
    padding: 17px 20px;
    width: 100%;
    outline: none;
}

.your-order-area h3 {
    font-weight: 600;
    color: #000000;
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 16px;
}

.your-order-area .your-order-wrap {
    padding: 38px 45px 44px;
    background: #ebebeb;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-top ul{
    display: flex;
    justify-content: space-between;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-top ul li {
    font-size: 16px;
    font-weight: 600;
    list-style: outside none none;
    color: #000000;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-middle {
    border-bottom: 1px solid #dee0e4;
    border-top: 1px solid #dee0e4;
    margin: 29px 0;
    padding: 19px 0 18px;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-middle li {

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 10px;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Nunito Sans", sans-serif;
    list-style: none;

}

.your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul li.your-order-shipping {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-total {
    border-bottom: 1px solid #dee0e4;
    border-top: 1px solid #dee0e4;
    margin: 18px 0 33px;
    padding: 17px 0 19px;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li.order-total {
    font-weight: 600;
    color: #000000;
    font-size: 18px;
}

.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li {
    font-weight: 600;
    color: #fb5d5d;
    font-size: 16px;
    list-style: outside none none;
    font-family: "Nunito Sans", sans-serif;
}

.your-order-area .Place-order a:hover {
    background-color: #000000;
}

.your-order-area .Place-order a {
    background-color: #fb5d5d;
    color: #fff;
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    padding: 18px 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px;
    z-index: 9;
    text-decoration: none;
}