.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}




/* product css */

.ckkyHR {
  font-size: 24px;
  line-height: 1;
  color: rgb(71, 71, 71);
  font-weight: 600;
}

.hMBHNl {
  font-size: 72px;
  margin-bottom: 10px;
  font-weight: 700;
}

.cBTZnj {
  display: inline-block;
  text-align: center;
  padding: 17px 36px;
  border-radius: 0px;
  line-height: 1;
  border: 0px;
  transition: all 0.4s ease 0s;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 112, 4);
  text-decoration: none;
}

.cBTZnj:hover {
  color: rgb(255, 112, 4);
  background-color: rgb(0, 0, 0);
}

.img-area img {
  width: 100%;
  height: auto;
}

.slider-part {
  background-color: rgb(231, 231, 231);
  padding: 100px 0;
}

.slider-part .swiper-button-next,
.slider-part .swiper-button-prev {
  color: black;
}

.slider-part .swiper-pagination-bullet-active {
  background: rgb(255, 112, 4);
}

@media (min-width: 68px) and (max-width: 991.98px) {
  .hMBHNl {
    font-size: 30px;
  }

  .cBTZnj {
    margin: 0 !important;
  }
}

@media (min-width: 68px) and (max-width: 767.98px) {
  .img-area {
    display: none;
  }

 .slider-part .swiper-pagination {
   
    display: none;
}
}